<br/>
<div class="lesson-header">

  <div class="lesson-summary">
    {{ .Inner | markdownify }}
  </div>

  <div class="lesson-video">
    <div class="video-wrapper">
      <iframe
        src="https://www.youtube-nocookie.com/embed/{{ .Get "youtube" }}"
        title="{{ .Page.Title }} - Vidéo Chercheurs de Lumière"
        loading="lazy"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  	allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<br/>